{% extends 'base.html' %}
{% block content %}
<div class="container fade animate fadeUp ">
    <div class="row">
        <div class="col-sm-12 banner-info para">
            <p class="big-text">About the App</p>
            <h2>What is Diabetes?</h2>
            <p class="subtext">Diabetes mellitus refers to a group of diseases that affect how your body uses blood sugar (glucose). Glucose is vital to your health because it's an important source of energy for the cells that make up your muscles and tissues. It's also your brain's main source of fuel.</p>
            <p class="subtext">The underlying cause of diabetes varies by type. But, no matter what type of diabetes you have, it can lead to excess sugar in your blood. Too much sugar in your blood can lead to serious health problems.</p>
            <p class="subtext">Chronic diabetes conditions include type 1 diabetes and type 2 diabetes. Potentially reversible diabetes conditions include prediabetes and gestational diabetes. Prediabetes occurs when your blood sugar levels are higher than normal, but not high enough to be classified as diabetes. And prediabetes is often the precursor of diabetes unless appropriate measures are taken to prevent progression. Gestational diabetes occurs during pregnancy but may resolve after the baby is delivered.</p>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-12 banner-info fade animate fadeUp para">
            <h2>Why this Application?</h2>
            <p class="subtext">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi doloribus provident reprehenderit iste debitis tenetur tempora voluptatum, quisquam natus, quam dolorum totam magni accusamus, ut iure accusantium vitae quia.</p>
            <p class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus modi alias corrupti nihil repellendus voluptates? Magni at itaque aperiam sunt, similique quo voluptas accusamus quasi molestias minima, corporis officia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores numquam cumque, laudantium atque assumenda, laboriosam vel, est repudiandae consequuntur nihil aliquid necessitatibus quos. Dolorem, ad corrupti? Molestiae sunt culpa dolorem.</p>
            <p class="subtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium voluptatum ab deleniti quam itaque ratione, repudiandae iste in architecto eum ad? Architecto fugiat sed, mollitia inventore sit minima hic quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo similique ea veniam sint consequuntur dolor nesciunt praesentium facilis eos libero debitis minima accusamus, quam vitae quos voluptatibus quia inventore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci maxime dicta dolor animi ratione! Reprehenderit quibusdam, voluptate nostrum obcaecati suscipit, animi dolorem ratione in, qui ad harum repellendus hic.</p>
        </div> 
    </div>
</div>
{% endblock %}