{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-info animate fadeUp">
                <p class="big-text">Diabetes Prediction</p>
                <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, magni, odio pariatur neque necessitatibus asperiores quia perferendis optio accusantium recusandae consectetur quos ea dolor quo totam cupiditate ad voluptate maiores.</p>
            </div>
            <div class="col-sm-6 banner-image animate fadeUp">

                <form action="" method="POST">
                <table>
                    <div class="form-group">
                        <label for="pregnancy">Pregnancy</label>
                        <input type="text" class="form-control" placeholder="Enter number of Pregnancies" id="pregnancy" name="pregnancy" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Glucose</label>
                        <input type="text" class="form-control" placeholder="Enter Glucose Level" id="glucose" name="glucose" required>
                    </div>
                    <div class="form-group">
                        <label for="bp">Blood Pressure</label>
                        <input type="text" class="form-control" placeholder="Enter Blood Pressure" id="bp" name="bp" required>
                    </div>
                    <div class="form-group">
                        <label for="st">Skin Thickness</label>
                        <input type="text" class="form-control" placeholder="Enter Skin Thickness" id="st" name="st" required>
                    </div>
                    <div class="form-group">
                        <label for="insulin">Insulin</label>
                        <input type="text" class="form-control" placeholder="Enter Insulin Level" id="insulin" name="insulin" required>
                    </div>
                    <div class="form-group">
                        <label for="bmi">Body Mass Index (BMI)</label>
                        <input type="text" class="form-control" placeholder="Enter BMI" id="bmi" name="bmi" required>
                    </div>
                    <div class="form-group">
                        <label for="dpf">DPF</label>
                        <input type="text" class="form-control" placeholder="Enter DPF" id="dpf" name="dpf" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" placeholder="Enter your Age" id="age" name="age" required>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-info btn-lg btn-responsive" style="background: #40739e;" id="search"> <span class="glyphicon glyphicon-search"></span> Predict</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}